header{
	height: 387.56px;
    max-width: 1920px;
    width: 100%;
    background-color: #0020F4;
    padding-top: 45px;
}
.container {
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;}
 header img{margin-right: 200px;
    vertical-align: middle; } 
nav, nav ul, nav li{ display: inline-block;}
nav a{ color: white;
    font-family: HelveticaNeue;
    font-size: 16px;

}
nav li{
    margin-left: 43px;
}
.contact{ color: #171717;
    background-color: #FFFFFF;
    padding: 18px 43px 18px 36px;
    border-radius: 28px;

}
.section1{
    max-width: 1195px;
    width: 90%;
    margin: auto;
    margin-top: -100px;
    
}
section img{
    height: 600px;
    margin-top: -100px;
    margin:  0 auto;
    border-radius: 15px;
}
h2{font-size: 28px;
    color: #171717;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-top: 30px;
}
section div img{
    width: 219px;
    height: 219px;
    margin-right: 20px;}
 .section2{ max-width: 951;
    width: 70%;
    margin: auto;
    margin-top: 60px;

}   
section p{ font-size: 16px;
    color: #171717;
    font-family: HelveticaNeue;

}
.sectionp{margin-top: 18px;
    margin-bottom: 18px;

}
button{font-size: 16px;
    color: #FFFFFF;
    background-color: #0A22F4;
    padding: 18px 77px 18px 57px;
    border-radius: 28px;
    display: inline;
    margin: auto;
    margin-top: 58px;
    margin-bottom: 180px; 


}
